html{
    font-family: 'Bangers', cursive;
}
img{

    z-index: 2;
    height: 150px;
    width: 150px;
}

.memo{
    position: absolute;
}

#points{
    background: #00ce82;
    display: inline-block;
    padding:0 .1em;
    border-radius: 5px;
    letter-spacing: .1rem;
    box-shadow: 0px 0px 10px 0px;
    font-size: 3rem;
}
#points:before{
    content: "Punkty: ";
    text-transform: uppercase;
    color:white;

    /*color: transparent;*/
    text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
#points {
    position: relative;
    top:0;
    left: 650px;
}

